@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

.home-page {
  height: 80vh;
  padding: 0.5rem 2rem;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.home-page__drink {
  font-size: 4rem;
  padding: 1rem;
  color: rgb(230, 230, 230);
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.55));
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
  border: 3px solid #3dd8fc;
  box-shadow: 0 0 20px 0 #3dd8fc;
  transition: 0.05s;
}

.home-page__drink:hover {
  box-shadow: 0 0 35px 0 #3dd8fc;
}

.drink__name {
  text-shadow:
    0 0 5px #f791e8,
    0 0 15px #f791e8,
    0 0 20px #f791e8,
    0 0 40px #f791e8,
    0 0 60px #e535eb,
    0 0 10px #a925dd,
    0 0 98px #e535eb;
  color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
}
