.ingredients-container {
    margin: 20px;
}

.h1-name {
    font-family: "Sacramento", cursive;
    font-size: 5rem;
    text-shadow:
        0 0 5px #f791e8,
        0 0 15px #f791e8,
        0 0 20px #f791e8,
        0 0 40px #f791e8,
        0 0 60px #e535eb,
        0 0 10px #a925dd,
        0 0 98px #e535eb;
    margin: 0 0 30px 0;
}

.checkbox-list {
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.checkbox-item {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    font-size: 1.7rem;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 #3dd8fc;
    cursor: pointer;
}

input[type="checkbox"] + label:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

input[type="checkbox"]:checked + label {
    background-color: #3dd8fc;
    color: black;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submit-button {
    font-size: 1.8rem; 
    padding: 15px 30px;
    border-radius: 15px; 
    background-color: transparent; 
    border: 3px solid #3dd8fc;
    color: #3dd8fc; 
    font-weight: bold; 
    cursor: pointer; 
    transition: all 0.2s ease; 
    letter-spacing: 3px;
    margin-bottom: 30px;
}

.submit-button:hover {
    background-color: #3dd8fc; 
    color: black; 
    box-shadow: 0 0 20px 5px #3dd8fc, 0 0 40px 10px #3dd8fc; 
}

.submit-button:active {
    opacity: 0.6;
}

