/* Navbar.css */

.navbar {
  font-size: 32px;
  width: 100vw;
  height: 10vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px violet solid;
}

.navbar > div:first-child {
  margin-left: 30px;
}

.navbar > div:last-child {
  margin-right: 30px;
}

.navbar a {
  text-decoration: none;
}