/* SelectedIngredients.css */

@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

.selected-ingredients-container {
    margin: 20px;
}

h2 {
    font-family: "Sacramento", cursive;
    font-size: 3rem;
    text-shadow:
        0 0 5px #f791e8,
        0 0 15px #f791e8,
        0 0 20px #f791e8,
        0 0 40px #f791e8,
        0 0 60px #e535eb,
        0 0 10px #a925dd,
        0 0 98px #e535eb;
    margin: 0 0 20px 0;
}

.selected-ingredients-container ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Display 3 items in one row */
    gap: 20px; /* Adjust the gap between items */
}

.selected-ingredients-container li {
    background-color: transparent;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow:
        0 0 5px #f791e8,
        0 0 15px #f791e8,
        0 0 20px #f791e8,
        0 0 40px #f791e8,
        0 0 60px #e535eb,
        0 0 10px #a925dd,
        0 0 98px #e535eb;
    border: 3px solid #3dd8fc;
    box-shadow: 0 0 20px 0 #3dd8fc;
    margin-bottom: 10px;
}

.selected-ingredients-container li:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.selected-ingredients-container li a {
    color: white;
    text-decoration: none;
}

.selected-ingredients-container li a:active {
    opacity: 0.6;
}
