@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

.selected-drink__wrapper {
  height: 80vh;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  color: white;
}

.selected-drink__wrapper legend {
  font-family: "Sacramento", cursive;
  font-size: 4rem;
  text-shadow:
    0 0 5px #f791e8,
    0 0 15px #f791e8,
    0 0 20px #f791e8,
    0 0 40px #f791e8,
    0 0 60px #e535eb,
    0 0 10px #a925dd,
    0 0 98px #e535eb;
  color: #fff6a9;
}

.selected-drink {
  font-size: clamp(1rem, 2vw, 2rem);
  padding: 1rem 3.5rem;
  color: rgb(230, 230, 230);
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.55));
  text-decoration: none;
  width: 90%;
  min-height: 380px;
  border: 3px solid #3dd8fc;
  box-shadow: 0 0 20px 0 #3dd8fc;
  transition: 0.05s;
}

.selected-drink__photo {
  grid-column: 3;
  grid-row-start: 1;
  grid-row-end: -1;
}

.selected-drink__ingredients,
.selected-drink__recipe {
  grid-column-start: 1;
  grid-column-end: 3;
}

.ingredients-list {
  padding: 0;
  margin: 0;
}

.ingredients-list li {
  text-transform: uppercase;
  list-style: none;
}

.dash {
  text-shadow:
    0 0 5px #f791e8,
    0 0 15px #f791e8,
    0 0 20px #f791e8,
    0 0 40px #f791e8,
    0 0 60px #e535eb,
    0 0 10px #a925dd,
    0 0 98px #e535eb;
  color: #fff6a9;
}

.selected-drink__wrapper {

  img {
    object-fit: cover;
    aspect-ratio: 2/1 ;
  }
}

.selected-drink__wrapper img{
  min-height: 154%;
  max-width: 437%;
  min-width: 437%;
  margin-left: -84px;
  margin-top: -20px;
  opacity: 0.7;
  border-radius: 20px;
}

.multi-column {
  column-count: 2;
  column-gap: 20px;
}

