@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

.selected-drink__wrapper {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  color: white;
}

.selected-drink {
  font-size: clamp(1rem, 2vw, 2rem);
  color: rgb(230, 230, 230);
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.55));
  text-decoration: none;
  width: 90%;
  min-height: 380px;
  border: 3px solid #3dd8fc;
  box-shadow: 0 0 20px 0 #3dd8fc;
  transition: 0.05s;
  margin: 0 auto;
}

.selected-drink__photo {
  grid-column: 3;
  grid-row-start: 1;
  grid-row-end: -1;
  grid-row-end: span 2; /* Extend the image fieldset to span 2 rows */
}

.selected-drink__ingredients,
.selected-drink__recipe {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 0 2rem;
}

.ingredients-list {
  padding: 0;
  margin: 0;
}

.ingredients-list li {
  text-transform: uppercase;
  list-style: none;
}

.dash {
  text-shadow:
    0 0 5px #f791e8,
    0 0 15px #f791e8,
    0 0 20px #f791e8,
    0 0 40px #f791e8,
    0 0 60px #e535eb,
    0 0 10px #a925dd,
    0 0 98px #e535eb;
  color: #fff6a9;
}

.selected-drink__image {
  width: 100%;
  height: 100%; /* Set height to 100% to ensure full coverage */
  object-fit: cover; /* Ensure the image covers the entire container while maintaining aspect ratio */
  border-radius: 20px;
}

.selected-drink__image-wrapper {
  height: calc(100% + 2.9rem); /* Increase the height by 4rem */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: -2.9rem; /* Move the wrapper 4rem towards the top */
}

.selected-drink__wrapper legend {
  font-family: "Sacramento", cursive;
  font-size: 4rem;
  text-shadow:
    0 0 5px #f791e8,
    0 0 15px #f791e8,
    0 0 20px #f791e8,
    0 0 40px #f791e8,
    0 0 60px #e535eb,
    0 0 10px #a925dd,
    0 0 98px #e535eb;
  color: #fff6a9;
  position: relative; /* Add position relative */
  z-index: 1; /* Add a higher z-index to move it over the image */
}

.selected-drink__wrapper img {
  width: 100%;
  height: calc(100% + 4rem); /* Increase the height by 4rem */
  object-fit: cover;
  opacity: 0.8;
}

.multi-column {
  column-count: 2;
  column-gap: 20px;
}

fieldset {
  padding: 0;
  margin: 0;
}

.add-to-favorites {
  border: 3px solid #3dd8fc;
  box-shadow: 0 0 20px 0 #3dd8fc;
  font-size: clamp(1rem, 1vw, 2rem);
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.55));
  padding: 1rem;
  color: rgb(230, 230, 230);
  cursor: pointer;
}

legend {
  padding: 0;
  margin: 0;
} 